/* global variables 
===================================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Playfair+Display:ital,wght@0,400;0,500;0,800;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

:root {
    --color-primary: #0f0e17;
    --color-secondary: #ff8906;
    --color-headline: #fffffe;

    --backdrop-font: 'Festive',
    cursive;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter',
    sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6
 {
    font-family: 'Playfair Display',
    serif;
}

.sub-heading {
    letter-spacing: 5px;
    text-transform: uppercase;
} 

.about-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* custom styles
===================================== */
.bg-primary {
    background-color: var(--color-primary)!important;
}

.bg-secondary {
    background-color: var(--color-secondary)!important;
}

.color-primary {
    color: var(--color-primary)!important;
}

.color-secondary {
    color: var(--color-secondary)!important;
}

.text-white{
    color: var(--color-headline)!important;
}

/* top navbar
===================================== */
.top-navbar .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    font-family: 'Playfair Display',
    serif;
    font-weight: 100;
}

.top-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-nav ul li{
    margin: 0 10px;  
}

.top-nav ul li a{
    color: var(--color-headline);
}

.top-nav ul li i {
    margin-right: 7px;
}

/* navbar section
================================= === */
.navbar {
    font-weight: 400;
    font-family: 'Playfair Display',
    serif;

}

.navbar-nav .nav-item a.navlink:hover {
    color: var(--color-secondary)!important;
}

/* swiper JS
===================================== */
#banner {
    width: 100%;
    height: 100vh;
    position: relative;
}

.swiper {
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;

}

.swiper-slide {
    background-size:cover;
    display: flex;
    justify-content: start;
    align-items: center;
    background-position: fixed;
    transition: all .3s ease;
    font-size: 2rem;
}

.swiper-slide .numbers {
    font-family: 'Playfair Display',
    serif;
    width: auto;
    height: auto;
    position: absolute;
    right: 15px;
    bottom: 10px;
    font-size: 150px;
    -webkit-text-stroke: 1px var(--color-primary);
    color: transparent;
    font-weight: 800;
    opacity: .5;
}

.swiper-arrows {
    width: 400px;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 20%;
}

.swiper-button-prev,
.swiper-button-next {
    width: 80px;
    height: 80px;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: 0;
    transition: all .3s ease;
}

.swiper-button-prev {
    right: 80px;
    left: auto;
    background-color: rgba(255, 255, 255, .7);
}

.swiper-button-next {
    right: 0px;
    background-color: rgba(255, 255, 255, 0.8);
}

.swiper-button-prev span,
.swiper-button-next span {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    position: absolute;
    border: 1px solid var(--color-secondary);
    border-bottom: 0;
    border-left: 0;
    transition: all .1s ease;
}

.swiper-button-prev span,
.swiper-button-next span {
    width: 15px;
    height: 15px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    width: 0px;
    height: inherit;
    content: '';
    position: absolute;
    background-color: var(--color-headline);
    transition: all .4s ease-in-out;
    z-index: -1;
    opacity: .8;
}

.swiper-button-prev:hover:after,
.swiper-button-next:hover:after {
    width: inherit;
}

.swiper-button-prev:after {
    right: 0;
}

.swiper-button-next:after {
    left: 0;
}

.swiper-button-disabled {
    opacity: 1!important;
}

.swiper-button-disabled.swiper-button-prev span,
.swiper-button-disabled.swiper-button-next span {
    opacity: .2;
}

.swiper-button-prev span {
    transform: rotate(-135deg);
    left: 49%;
}

.swiper-button-next span {
    transform: rotate(45deg);
    right: 49% ;
}

.slide-text {
    text-align: left;
    width: 50%;
    max-width: 750px;
    padding: 50px;
    position: absolute;
    z-index: 2;
    opacity: 1;
}

.slide-text h1 {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-size: 3rem;
}

/* search section
===================================== */
#search {
    width: 100%;
    padding: 50px;

}


#search .search-option {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

#search .search-option .item {
    align-self: center;
    padding: 15px 10px;
    border-right: 1px solid var(--color-secondary);
}

#search .search-option .item input {
    border: none;
    padding: 0!important;
}

#search .search-option .item input:focus{
    border: none;
    box-shadow: none;
}

#search .search-option .item:nth-child(4) {
    padding: 0px;
}

#search .search-option .item:nth-child(4) .btn-theme{
   padding: 32px 32px;
   margin: 0!important;
   background-color: var(--color-secondary);
   border: none;
   color: var(--color-headline);
   box-shadow: none!important;
   width: 100%;
   text-align: center;
}

#search .search-option .item:nth-child(4) .btn-theme i {
    margin-right: 10px;
}

/* about section
===================================== */
#about {
    width: 100%;
    padding: 50px 0;
}

#about .title {
    text-align: center;
    margin-bottom: 50px;
}

.title-primary {
    color: var(--color-secondary);
    font-family: var(--backdrop-font);
    font-size: 30px;
    position: relative;
}

.title .title-primary:before {
   content: 'About Us'; 
   position: absolute;
   top: 100%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 120px;
   color: #000;
   opacity: .1;
   z-index: -1;
}

.title .title-secondary {
    font-weight: 700;
    font-size: 55px;
    letter-spacing: 2px;
}

/* featured section
===================================== */
#feature {
    width: 100%;
    padding: 50px 0;
}

#feature .title {
    text-align: center;
    margin-bottom: 50px;
}

#feature .title .title-primary:before {
    content: 'Featured';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: #000;
    opacity: .1;
    z-index: -1;
}

#feature .card-design {
    width: 100%;
}

#feature .card-design .image{
    position: relative;
    width: 100%;
    height: 320px;
    z-index: -1;

}

#feature .card-design .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#feature .card-design .card-text {
    background-color: var(--color-headline)!important;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    z-index: 9;
    border-left: 1px solid var(--color-secondary);
    border-right: 1px solid var(--color-secondary);
    border-bottom: 1px solid var(--color-secondary);
}

#feature .card-design .card-text item {
    align-self: center;
}

#feature .card-design .card-text item span {
    font-size: 0.8em;
}

#feature .card-design .card-text .item span i {
    color: var(--color-secondary);
    margin-right: 5px;
    font-size: 1.8rem;
}

#feature .card-design .card-text .item button{
    margin: 0;
    padding: 10px 15px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    box-shadow: none;
}

/* showcase
===================================== */
#showcase {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(245, 100, 4, 0.5), rgba(231, 80, 10, 0.5)),
    url("./assets/hippo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 100px;
}

/* package section
===================================== */
#package .title {
    text-align: center;
    margin-bottom: 50px;
}

#package .title .title-primary:before {
    content: 'package';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    color: #000;
    opacity: .1;
    z-index: -1;
}



/* Animation
===================================== */
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-8-26 20:52:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}




/* media querries
===================================== */
 @media screen and (max-width: 512px){

     header .top-navbar {
         display: none;
     }

     button.navbar-toggler i{
         color: var(--color-secondary)!important;
     }

     .navbar-collapse .nav-item {
         border-bottom: 1px dotted var(--color-secondary);
         padding: 25px;
     }

     .navbar-collapse .nav-item:last-child {
         border-bottom: none;
     }
     .swiper-slide .numbers{
         display: none;
     }

     .slide-text {
         text-align: center;
         width: 100%;
         max-width: 750px;
         margin: auto;
         position: absolute;
         z-index: 2;
         opacity: 1;
     }

     .swiper-button-prev,
     .swiper-button-next {
         width: 60px;
         height: 60px;
         bottom: 0;
     }

     .swiper-arrows {
         right: 10%;
         height: 60px;
     } 

     .swiper-button-prev {
         right: 60px;
     }

     .swiper-button-prev span {
         left: 45%;
     }

      .swiper-button-next span {
          right: 45%;
      }

      #search .search-option {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;

      }

      #search .search-option .item {
          align-self: start;
          padding: 15px 15px;
          border: none;
      }


 }
